<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Event · Enterpark</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap-Select CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="indexLoggedin.html">Enterpark</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="indexLoggedin.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="userBookingHistory.html">My page</a>
                    </li>
                </ul>
                <a class="btn login-button me-2" href="index.html">Logout</a>
                <a class="btn login-button ms-2" href="{{ url_for('main.create_event') }}">Create Event</a>
            </div>
            </ul>
        </div>
        </div>
    </nav>

    <!-- Nav bar display logic according to scrolling -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var lastScrollTop = 0;
            var navbar = document.querySelector('.navbar');
            var debounceTimer;
        
            window.addEventListener("scroll", function() {
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(function() {
                    if (scrollTop > lastScrollTop) {
                        // Scroll down
                        navbar.style.top = "-80px";
                    } else {
                        // Scroll up
                        navbar.style.top = "0";
                    }
                    lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
                }, 100);
            });
        });
    </script>

    <!-- Main background area: Text -->
    <div class="background-image" style="
        height: 30vh;
        padding: 70px;
    ">
        <div class="container">
            <h1 style="color: #ffffff;">Create your event!</h1>
        </div>
    </div>

    <!-- Form to collect event detail -->
    <form class="needs-validation" id="event-form" novalidate>
        <div class="container mt-5">
            <div class="row">

                <!-- Thumnail image -->
                <div class="col-md-4">
                    <h6>Thumnail image</h6>
                    <div class="form-text" id="basic-addon4">Please choose image file for thumnail.</div>
                    <div class="input-group mb-3">
                        <input class="form-control" type="file" id="thumnail-img" accept="image/*" required>
                        <div class="invalid-feedback">
                            Please choose an image.
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <img src="static/img/preview_image.001.jpeg" class="col-md-6 float-md-end mb-3 img-thumbnail" id="preview-image" alt="Image preview">
                </div>

                <div class="w-100 d-none d-md-block"></div>

                <!-- Event name -->
                <div class="col-12">
                    <h6>Event name</h6>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="event-name" aria-describedby="basic-addon1" 
                            maxlength="150" placeholder="Enter event name (max 150 characters)" required>
                        <div class="invalid-feedback">
                            Please provide a valid event name.
                        </div>
                    </div>
                </div>

                <div class="w-100 d-none d-md-block"></div>

                <!-- Select Location -->                
                <div class="col-md-12">
                    <h6>Location</h6>
                    <div class="form-text" id="basic-addon4">Please choose country first.</div>
                    <div class="input-group mb-3">
                        <select class="selectpicker" id="country-select" data-live-search="true" required>
                            <option value="">Choose country...</option>
                            <option value="USA">USA</option>
                            <option value="Canada">Canada</option>
                            <option value="UK">United Kingdom</option>
                            <option value="AU">Australia</option>
                            <option value="SouthKorea">South Korea</option>
                        </select>
                        <select class="selectpicker" id="state-select" data-live-search="true" required disabled>
                            <option value="">Choose region...</option>
                        </select>
                        <select class="selectpicker" id="city-select" data-live-search="true" required disabled>
                            <option value="">Choose city/state...</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" id="detailed-location" aria-label="detailed-location" required>
                    <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                </div>

                <div class="w-100 d-none d-md-block mb-3"></div>
                
                <!-- Performance date & time set -->  
                <div class="col-md-4">
                    <h6>Start date</h6>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="start-date" aria-label="start-date" min="" required>
                        <div class="invalid-feedback">
                            Please provide a valid date.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h6>End date</h6>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="end-date" aria-label="end-date" min="" required>
                        <div class="invalid-feedback">
                            Please provide a valid date.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h6>Performance time</h6>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="performance-time" aria-label="performance-time" required>
                        <span class="input-group-text" id="basic-addon2">Minutes</span>
                        <div class="invalid-feedback">
                            Please provide a valid time.
                        </div>
                    </div>
                </div>

                <!-- Ticketing date & time set -->
                <div class="col-md-6">
                    <h6>Ticket opening date</h6>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="opening-date" aria-label="opening-date" min="" required>
                        <input type="time" class="form-control" id="opening-time" aria-label="opening-time" required>
                        <div class="invalid-feedback">
                            Please provide a valid date and time.
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h6>Ticket closing date</h6>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="closing-date" aria-label="closing-date" min="" required>
                        <input type="time" class="form-control" id="closing-time" aria-label="closing-time" required>
                        <div class="invalid-feedback">
                            Please provide a valid date and time.
                        </div>
                    </div>
                </div>

                <!-- Ticekt information -->
                <div class="col-md-4">
                    <h6>Ticket price</h6>
                    <div class="form-text" id="basic-addon4">0 sets the ticket price to Free.</div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" id="ticket-price" aria-label="Ticket price" 
                        value="0" min="0" required>
                        <span class="input-group-text">.00</span>
                    </div>
                </div> 

                <div class="col-md-4">
                    <h6>Total number of tickets</h6>
                    <div class="form-text" id="basic-addon4">The number of ticket must be greater than 0.</div>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" aria-label="Amount (to the nearest tickets)" 
                        value="0" min="1" oninput="validateTicketNumber(this)" required>
                    </div>
                </div> 

                <!-- Performance information -->
                <div class="col-md-12">
                    <h6>Short description</h6>
                    <div class="input-group mb-3">
                        <textarea class="form-control" aria-label="With textarea" required></textarea>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <h6>About this event</h6>
                    <div class="input-group mb-3">
                        <textarea class="form-control" aria-label="With textarea" rows="25" required></textarea>
                    </div>
                </div>                 

                <div class="w-100 d-none d-md-block"></div>

                <!-- Agreement -->
                <div class="col-12 mb-3 d-flex justify-content-end">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="agreement" required>
                      <label class="form-check-label" for="agreement">
                        Agree to terms and conditions
                      </label>
                    </div>
                </div>

                <div class="w-100 d-none d-md-block"></div>

                <!-- Submit button -->
                <div class="col mb-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Submit Event</button>
                </div>
            </div>
        </div>
    </form>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap-Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>    
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
            })
        })()

        // Preview image JS
        document.getElementById('thumnail-img').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            
            reader.onload = function(e) {
                const imgElement = document.getElementById('preview-image');
                imgElement.src = e.target.result;
            };
            
            if (file) {
                reader.readAsDataURL(file);
            }
        });
        
        // Bootstrap-Select JS
        $(document).ready(function() {
            $('.selectpicker').selectpicker();

            // Region update and City/State reset when Country selection is changed
            $('#country-select').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                let country = $(this).val();
                updateRegions(country);
                resetCities(); // Initialise and disable the city/state dropdown
            });

            // Update City/State when Region selection changes
            $('#state-select').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                let region = $(this).val();
                if (region === "Choose region...") {
                    resetCities(); // Reset city/state
                } else {
                    updateCities(region);
                }
            });

            function updateRegions(country) {
                const regions = {
                    "USA": ["California", "Texas"],
                    "Canada": ["Ontario", "Quebec"],
                    "UK": ["England", "Scotland", "Wales", "Northern Ireland"],
                    "AU": ["New South Wales", "Victoria", "Queensland"],
                    "SouthKorea": ["Seoul", "Busan", "Incheon", "Daegu"]
                };
                $('#state-select').html('<option value="">Choose region...</option>');
                if (regions[country]) {
                    regions[country].forEach(region => {
                        $('#state-select').append(new Option(region, region));
                    });
                }
                $('#state-select').prop('disabled', !regions[country]);
                $('#state-select').selectpicker('refresh');
            }

            function updateCities(region) {
                const cities = {
                    "California": ["Los Angeles", "San Francisco"],
                    "Texas": ["Houston", "Austin"],
                    "New South Wales": ["Sydney"],
                    "Victoria": ["Melbourne"],
                    "Queensland": ["Brisbane"],
                    "Seoul": ["Gangnam-gu", "Jongno-gu"],
                    "Busan": ["Haeundae", "Seo-gu"],
                    "Incheon": ["Yeonsu-gu", "Namdong-gu"],
                    "Daegu": ["Jung-gu", "Suseong-gu"],
                    "England": ["London", "Manchester"],
                    "Scotland": ["Edinburgh", "Glasgow"],
                    "Wales": ["Cardiff", "Swansea"],
                    "Northern Ireland": ["Belfast", "Derry"]
                };
                $('#city-select').html('<option value="">Choose city/state...</option>');
                if (cities[region]) {
                    cities[region].forEach(city => {
                        $('#city-select').append(new Option(city, city));
                    });
                }
                $('#city-select').prop('disabled', !cities[region]);
                $('#city-select').selectpicker('refresh');
            }

            function resetCities() {
                $('#city-select').html('<option value="">Choose city/state...</option>');
                $('#city-select').prop('disabled', true);
                $('#city-select').selectpicker('refresh');
            }
        });

        // Script to set the date selection minimum period to today.
        // Change format to YYYY/MM/DD.
        function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) 
                    month = '0' + month;
                if (day.length < 2) 
                    day = '0' + day;

                return [year, month, day].join('-');
        }

        // Format today date
        let today = formatDate(new Date());

        // Set the min property of the start date and end date input fields
        document.getElementById('start-date').setAttribute('min', today);
        document.getElementById('end-date').setAttribute('min', today);
        document.getElementById('opening-date').setAttribute('min', today);
        document.getElementById('closing-date').setAttribute('min', today);

        // Set the number of valid tickets
        function validateTicketNumber(input) {
            if (input.value === '') {
                input.value = '0';
            }
        }
        
        // An attempt was made to set the price to Free when the number of tickets was 0 
        // and performance time to TBA when the time was 0.

        // document.getElementById('event-form').addEventListener('submit', function(e) {
        //     e.preventDefault();
        //     var priceInput = document.getElementById('ticket-price');
        //     var price = priceInput.value;

        //     var performancetimeInput = document.getElementById('performance-time');
        //     var time = timeInput.value;
            
        //     // If ticket price is 0, set to 'Free'
        //     if (price === '0' || price === '') {
        //         priceInput.value = 'Free';
        //     }

        //     if (time === '0' || time === '') {
        //         timeInput.value = 'TBA(To be announced)' //To be announced
        //     }
        //     this.submit();
        // });
    </script>

    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-2">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Enter your email address" aria-label="Recipient's email">
                            <button class="btn btn-primary" type="button" id="subscription-button">Subscribe Now</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 text-md-end">
                        <button onclick="window.location.href='https://facebook.com';" class="btn text-reset">
                            <img src="static/img/facebook.svg" alt="facebook" class="icon-large">
                        </button>
                        <button onclick="window.location.href='https://twitter.com';" class="btn text-reset">
                            <img src="static/img/twitter-x.svg" alt="twitter" class="icon-large">
                        </button>
                        <button onclick="window.location.href='https://instagram.com';" class="btn text-reset">
                            <img src="static/img/instagram.svg" alt="instagram" class="icon-large">
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </footer>    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
    </script>
</body>

</html>