{% extends 'base.html' %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock %}

{% block content %}  
    <div class="background-image" style="height: 30vh; padding: 70px;">
        <div class="container">
            <h1 style="color: #ffffff;">Create your event!</h1>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data" class="needs-validation" id="event-form">
        {{ form.hidden_tag() }}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <h6>Thumnail image</h6>
                    <div class="form-text" id="basic-addon4">Please choose image file for thumbnail.</div>
                    <div class="input-group mb-3">
                        {{ form.image(class="form-control", id="thumbnail-img", accept="image/*") }}
                        <div class="invalid-feedback">
                            Please choose an image.
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <img src="/static/img/preview_image.001.jpeg" class="col-md-6 float-md-end mb-3 img-thumbnail" id="preview-image" alt="Image preview">
                </div>
                <div class="w-100 d-none d-md-block"></div>

                <div class="col-12">
                    <h6>Event name</h6>
                    <div class="input-group mb-3">
                        {{ form.title(class="form-control", maxlength="150", placeholder="Enter event name (max 150 characters)") }}
                        <div class="invalid-feedback">
                            Please provide a valid event name.
                        </div>
                    </div>
                </div>
                <div class="w-100 d-none d-md-block"></div>

                <div class="col-md-12">
                    <h6>Location</h6>
                    <div class="form-text" id="basic-addon4">Please choose country first.</div>
                    <div class="input-group mb-3">
                        {{ form.country(class="selectpicker", id="country-select", data_live_search="true") }}
                        {{ form.state(class="selectpicker", id="state-select", data_live_search="true", disabled=True) }}
                        {{ form.city(class="selectpicker", id="city-select", data_live_search="true", disabled=True) }}
                    </div>
                    {{ form.detailed_location(class="form-control") }}
                    <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                </div>
                <div class="w-100 d-none d-md-block mb-3"></div>
                
                <div class="col-md-4">
                    <h6>Start date</h6>
                    <div class="input-group mb-3">
                        {{ form.startdate(class="form-control", id="startdate") }}
                        <div class="invalid-feedback">
                            Please provide a valid date.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6>End date</h6>
                    <div class="input-group mb-3">
                        {{ form.enddate(class="form-control", id="enddate") }}
                        <div class="invalid-feedback">
                            Please provide a valid date.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6>Performance time</h6>
                    <div class="input-group mb-3">
                        {{ form.performancetime(class="form-control") }}
                        <span class="input-group-text" id="basic-addon2">Minutes</span>
                        <div class="invalid-feedback">
                            Please provide a valid time.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6>Ticket opening date</h6>
                    <div class="input-group mb-3">
                        {{ form.ticketopendate(class="form-control", id="ticketopendate") }}
                        <div class="invalid-feedback">
                            Please provide a valid date and time.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6>Ticket closing date</h6>
                    <div class="input-group mb-3">
                        {{ form.ticketclosedate(class="form-control", id="ticketclosedate") }}
                        <div class="invalid-feedback">
                            Please provide a valid date and time.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6>Ticket price</h6>
                    <div class="form-text" id="basic-addon4">0 sets the ticket price to Free.</div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        {{ form.ticketprice(class="form-control", value="0", min="0") }}
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6>Total number of tickets</h6>
                    <div class="form-text" id="basic-addon4">The number of ticket must be greater than 0.</div>
                    <div class="input-group mb-3">
                        {{ form.numberofticket(class="form-control", value="0", min="1", oninput="validateTicketNumber(this)") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <h6>Limited number of tickets booking</h6>
                    <div class="form-text" id="basic-addon4">If left blank, it is set to no limit.</div>
                    <div class="input-group mb-3">
                        {{ form.ticketlimit(class="form-control")}}
                    </div>
                </div>
                <div class="col-md-12">
                    <h6>Short description</h6>
                    <div class="input-group mb-3">
                        {{ form.description(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-12">
                    <h6>About this event</h6>
                    <div class="input-group mb-3">
                        {{ form.about(class="form-control", rows="25") }}
                    </div>
                </div>                 
                <div class="w-100 d-none d-md-block"></div>
                <div class="col-12 mb-3 d-flex justify-content-end">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="agreement" required>
                      <label class="form-check-label" for="agreement">
                        Agree to terms and conditions
                      </label>
                    </div>
                </div>
                <div class="w-100 d-none d-md-block"></div>
                <div class="col mb-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Submit Event</button>
                </div>
            </div>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>    
    <script>
        (function () {
            'use strict';
            var forms = document.querySelectorAll('.needs-validation');
            Array.prototype.slice.call(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        })();

        document.getElementById('thumbnail-img').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function(e) {
                const imgElement = document.getElementById('preview-image');
                imgElement.src = e.target.result;
            };
            if (file) {
                reader.readAsDataURL(file);
            }
        });

        $(document).ready(function() {
            $('.selectpicker').selectpicker();
            $('#country-select').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                let country = $(this).val();
                updateRegions(country);
                resetCities();
            });
            $('#state-select').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                let region = $(this).val();
                if (region === "Choose region...") {
                    resetCities();
                } else {
                    updateCities(region);
                }
            });

            function updateRegions(country) {
                const regions = {
                    "USA": ["California", "Texas"],
                    "Canada": ["Ontario", "Quebec"],
                    "UK": ["England", "Scotland", "Wales", "Northern Ireland"],
                    "AU": ["New South Wales", "Victoria", "Queensland"],
                    "SouthKorea": ["Seoul", "Busan", "Incheon", "Daegu"]
                };
                $('#state-select').html('<option value="">Choose region...</option>');
                if (regions[country]) {
                    regions[country].forEach(region => {
                        $('#state-select').append(new Option(region, region));
                    });
                }
                $('#state-select').prop('disabled', !regions[country]);
                $('#state-select').selectpicker('refresh');
            }

            function updateCities(region) {
                const cities = {
                    "California": ["Los Angeles", "San Francisco"],
                    "Texas": ["Houston", "Austin"],
                    "New South Wales": ["Sydney"],
                    "Victoria": ["Melbourne"],
                    "Queensland": ["Brisbane"],
                    "Seoul": ["Gangnam-gu", "Jongno-gu"],
                    "Busan": ["Haeundae", "Seo-gu"],
                    "Incheon": ["Yeonsu-gu", "Namdong-gu"],
                    "Daegu": ["Jung-gu", "Suseong-gu"],
                    "England": ["London", "Manchester"],
                    "Scotland": ["Edinburgh", "Glasgow"],
                    "Wales": ["Cardiff", "Swansea"],
                    "Northern Ireland": ["Belfast", "Derry"]
                };
                $('#city-select').html('<option value="">Choose city/state...</option>');
                if (cities[region]) {
                    cities[region].forEach(city => {
                        $('#city-select').append(new Option(city, city));
                    });
                }
                $('#city-select').prop('disabled', !cities[region]);
                $('#city-select').selectpicker('refresh');
            }

            function resetCities() {
                $('#city-select').html('<option value="">Choose city/state...</option>');
                $('#city-select').prop('disabled', true);
                $('#city-select').selectpicker('refresh');
            }
        });

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }

        const now = new Date().toISOString().slice(0, 16);
        document.getElementById('startdate').min = now;
        document.getElementById('enddate').min = now;
        document.getElementById('ticketopendate').min = now;
        document.getElementById('ticketclosedate').min = now;

        function validateTicketNumber(input) {
            if (input.value === '') {
                input.value = '0';
            }
        }
    </script>
{% endblock %}
